<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/RMI server Breo/src/com/perisic/peripherals/RecyclingGUI.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.perisic.peripherals.RecyclingGUI"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RMI server Breo"/>
</launchConfiguration>
